<section class="layout">
    <div class="header">
        <h1>Crear Nueva Tarea</h1>
    </div>

    <div class="main">
        <form [formGroup]="taskForm" (ngSubmit)="crearTarea()">
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="nombreTarea" class="bold-label">Nombre de la Tarea</label>
                        <input id="nombreTarea" formControlName="nombreTarea" type="text" class="form-control" placeholder="Nombre de la Tarea" />
                        <div *ngIf="taskForm.get('nombreTarea')?.invalid && taskForm.get('nombreTarea')?.touched" class="error-message">
                            El nombre de la tarea es obligatorio y debe tener al menos 5 caracteres.
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="fechaLimite" class="bold-label">Fecha Límite</label>
                        <input id="fechaLimite" formControlName="fechaLimite" type="date" class="form-control" />
                        <div *ngIf="taskForm.get('fechaLimite')?.invalid && taskForm.get('fechaLimite')?.touched" class="error-message">
                            La fecha límite es obligatoria.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lista de personas asociadas -->
            <div *ngFor="let persona of personasSeleccionadas" class="person-container">
                <label for="nombreCompleto" class="bold-label">Nombre de la Persona</label>
                <input id="nombreCompleto" value="{{persona.nombreCompleto}}" disabled class="form-control" />

                <label for="edad" class="bold-label">Edad</label>
                <input id="edad" value="{{persona.edad}}" disabled class="form-control" />

                <label class="bold-label">Habilidades</label>
<ul class="form-control">
    <li>
        <ng-container *ngFor="let habilidad of persona.habilidades; let last = last">
            {{ habilidad }}<span *ngIf="!last">, </span>
        </ng-container>
    </li>
</ul>


                <button type="button" (click)="eliminarPersona(persona.id)" class="btn btn-outline-secondary">Eliminar Persona</button>
            </div>

            <!-- Selección de nueva persona -->
            <div class="form-group">
                <label for="nombrePersona" class="bold-label">Seleccionar Persona</label>
                <input id="nombrePersona" formControlName="nombrePersona" type="text" list="personasList" class="form-control" placeholder="Buscar Persona" />
                <datalist id="personasList">
                    <option *ngFor="let persona of personas" [value]="persona.nombreCompleto"></option>
                </datalist>
                <div class="add">
                    <button type="button" (click)="agregarPersona()" class="btn btn-outline-secondary">Agregar Persona</button>
                </div>
            </div>

            <div class="secondary">
                <button type="submit" [disabled]="taskForm.invalid" class="btn btn-outline-secondary create">Crear Tarea</button>
            </div>
        </form>
    </div>
    <div class="footer"></div>
</section>
